
html {
    background:#b0bc87;
    /* background: linear-gradient(#b0bc87, #C9D5B5); */
    height: 100%;
    font-family: 'Trispace', sans-serif;
    scroll-behavior: smooth;
 }
 .ran{
    color: #516b40
 }

.topnav {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #b0bc87;

} 

.topnav-left a img{
    float: left;
    padding-top: 0.7em;
    padding-left: 0.6em;
}

.topnav-right a {
    float: right;
    color: #FEFAE0;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: 0.1em solid transparent;
}

.topnav-right a:hover {
    border-bottom: 0.1em solid #FEFAE0;
    transition: 0.05s;
}

body{
    min-width: 100vh;
}

body section {
    scroll-margin-top: 4rem;
    margin-bottom: 15em;
}

.header {
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    color: #FEFAE0;
}

.icon{
    max-width: 2.2em;
    height: auto;
}

.icon:hover{
    opacity: 80%;
}


.face {
    width: 20em;
    height: 20em;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    margin: 3em auto 3em auto;
}

.gif{
    width: 100%;
    image-rendering: crisp-edges;
}

#about {
    padding: 1.5rem 1.5rem;
    display: inline-block;
    border: 0.2em solid #FEFAE0;
    border-radius: 5% 5% 5% 5%/5% 5% 5% 5%;
    text-transform: uppercase;
    line-height: 210%;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    color: #FEFAE0;
    margin: auto 10em 5em 10em;
  }

#about::before {
    content: "";
    border: 0.2em solid #FEFAE0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.0) rotate(2deg);
    border-radius: 5% 5% 5% 5%/5% 5% 5% 5%;
  }

.deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1000px;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 16px;
    text-align: center;
    justify-content: center;
    background-color: #f1f1f1;
  }

.card-image{
      display: flex;
      flex: 1 1;
      float: left;
      max-width: 200px;
      height:auto
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    max-width: 80em;
    margin: auto;
    gap: 2em;
}

.portrait{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.8em;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #f1f1f1;
    aspect-ratio: 2/1.4;
}

.portrait-image{
    height: 100%;
}

.hidden-text{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.portrait-image:hover {
    opacity: 50%;
}

.portrait-image:hover ~ .hidden-text{
    visibility: visible;  
}



